ESB_DATA_SERVICES/services/soapWebService_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="soapWebService"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="soapWebServiceOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="soapWebServiceOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="soapWebServiceOperationRequest">
		<wsdl:part name="parameters" element="tns:soapWebServiceOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="soapWebServiceOperationResponse">
		<wsdl:part name="parameters" element="tns:soapWebServiceOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="soapWebServicePort">
		<wsdl:operation name="soapWebServiceOperation">
			<wsdl:input message="tns:soapWebServiceOperationRequest"></wsdl:input>
			<wsdl:output message="tns:soapWebServiceOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="soapWebServiceBinding" type="tns:soapWebServicePort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="soapWebServiceOperation">
			<soap:operation soapAction="http://www.talend.org/service/soapWebServiceOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="soapWebService">
		<wsdl:port name="soapWebServicePort" binding="tns:soapWebServiceBinding">
			<soap:address location="http://localhost:8040/services/testSOAPWebService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>